<div class="container">
  <div class="ordem-compra">
    <form novalidate >
    
      <h5>Sua Compra</h5>
      <hr />
      <div *ngIf="itemCarrinho().length; else carrinhoVazio" [ngTemplateOutlet]="carrinhoVazio">
        <div *ngFor="let item of itensCarrinho" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img [src]="item.img" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            {{item.titulo}}
            <br />
            {{item.descricao_oferta}}
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button type="button" (click)="alterarQuantidade(item, -1)"  class="btn btn-link">-</button>
                {{item.quantidade}}
                <button type="button" (click)="alterarQuantidade(item, +1)" class="btn btn-link">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            {{item.quantidade * item.valor | formatCurrency }}
          </div>
        </div>
        
        
        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{totalCompras() | formatCurrency}}</h4>
          </div>
        </div>
        
        <!-- <ng-template #carrinhoVazio >
          <div class="form-row d-flex justify-content-center" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0"> 
            Seu carrinho está Vazio
          </div>
        </ng-template> -->
      </div>
      <br />
      <app-formulario></app-formulario>
    </form>
  </div>
</div>