<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <app-card 
      ofertaCover="oferta.imagens[0]" 
      ofertaTitle="{{oferta.titulo}}" 
      ofertaDescription="{{oferta.descricao_oferta}}"
      ofertaPrice="{{oferta.valor}}"
      >
      </app-card>
    </div>
  </div> 
</div>