<div class="ordem-compra" *ngIf="idPedidoCompra === undefined">

    <form novalidate #formulario="ngForm" (ngSubmit)="confirmarCompra()">

        <pre>{{ formulario.value | json }}</pre>
        <pre>Formulario Valido: {{ formulario.valid | json }}</pre>
        <pre>Formulario Invalido: {{ formulario.invalid | json }}</pre>
        <h5>Dados para entrega</h5>
        <hr />

        <div class="form-row">

        <div class="form-group col-md-6">
            <input type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off" 
            minlength="5" 
            required
            name="endereco"
            ngModel
            #inputEndereco="ngModel"
            >

            <small *ngIf="inputEndereco.valid && inputEndereco.touched" class="form-text text-success">Ok</small>
            <small *ngIf="!inputEndereco.valid && inputEndereco.touched" class="form-text text-danger">Endereço inválido</small>


        </div>

        <div class="form-group col-md-2" id="inputNumber">
            <input type="text" 
            class="form-control" 
            placeholder="Número" 
            autocomplete="off" 
            minlength="1" 
            required
            name="numero"
            ngModel  
            #inputNumero="ngModel"
            >

            <small *ngIf="inputNumero.valid && inputNumero.touched" class="form-text text-success">Ok</small>
            <small *ngIf="!inputNumero.valid && inputNumero.touched" class="form-text text-danger">Endereço inválido</small>
        </div>

        <div class="form-group col-md-4">
            <input type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off"
            name="complemento"
            ngModel
            #inputComplemento="ngModel"
            >
            <small *ngIf="inputComplemento.valid && inputComplemento.touched" class="form-text text-success">Ok</small>
        </div>

        </div>
        <br />

        
        <h5>Dados de pagamento</h5>
        <hr />

        <div class="form-row">
            
            <div class="form-group col-md-3">
                <select class="form-control"
                required
                name="formaDePagamento"
                ngModel
                #selectPagamento="ngModel"
                >
            
                <option value="">Selecione uma opção</option>
                <option value="dinheiro" >Dinheiro</option>
                <option value="debito" >Débito</option>
                </select>

                <small *ngIf="selectPagamento.valid && selectPagamento.touched" class="form-text text-success">Ok</small>
                <small *ngIf="!selectPagamento.valid && selectPagamento.touched" class="form-text text-danger">Endereço inválido</small>
            </div>
        </div>

        <hr />
        <button type="submit"
        class="btn btn-primary btn-lg"
        >Cofirmar compra</button>
    </form>
</div>
<div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
    <app-ordem-compra-sucesso [idPedidoCompra]="idPedidoCompra"></app-ordem-compra-sucesso>
</div>
