<ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link active" role="tab" data-toggle="tab" href="#como-usar" aria-expanded="true">Como usar</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" role="tab" data-toggle="tab"  href="#onde-fica">Onde fica?</a>
    </li>

</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="como-usar" role="tabpanel">Texto: como usar</div> 
    <div class="tab-pane fade show" id="onde-fica" role="tabpanel">texto: onde fica?</div> 
</div>
